.searchInputs {
  margin-top: 7px;
  display: flex;
}

.search input {
  background-color: #564675;
  border: 3;
  border-color: #BFDB87;
  border-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-size: 18px;
  color: #f6f6f6;
  padding: 15px;
  height: 30px;
  width: 700px;
}

.searchIcon {
  height: 65px;
  width: 50px;
  background: #BFDB87;
  border: 3;
  border-color: #BFDB87;
  border-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  margin-top: 5px;
  width: 700px;
  height: 200px;
  padding: 15px;
  background-color: #BFDB87;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: #f6f6f6;
}

#clearBtn {
  cursor: pointer;
}
