@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(125deg, #332a45, #313131 60%, #1a1a1a);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}


