body {
    background-color: #313131;
    text-align: left; 
}

heading {
    color: #8870b9; 
}

p {
    color: #f6f6f6; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 14px; 
}